.loginContainer{
    .loginContainerBox{
        display: flex;
        height: 99vh;
        position: relative;
        
        @media (max-width: 768px) {
            flex-direction:column-reverse;
        }
        


        .loginBoxLeft{
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: 768px) {
                width: 94% !important;
            }    

            
            .loginBoxLeftContainer{
                h2{
                    background: linear-gradient(131.41deg, #BD0A43 19.05%, #FE6302 63.6%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: center;
                }
                p{
                    text-align: center;
                }

                .loginSelection{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .loginSelectionForm{
                        .loginSelectionContainer{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .loginSelectionLabel{
                                width: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                    }

                    
                    .signInEmailContainer{

                        .signInForm{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 20px;
                            .otpInputContainer{
                                display: flex;
                                justify-content: center;
                                gap: 10px;
                                .otpInput{
                                    width: 5%;
                                    font-size: 20px;                                    
                                    padding: 10px;
                                    border-radius: 10px;
                                    display: flex;
                                    gap: 5px;
                                    :focus {
                                        outline: none;
                                        border: none;
                                    }
                                    
                                }
                            }
                           
                            .verifyButton{
                                padding: 15px 0px;
                                text-align: center;
                                background: orangered;
                                border-radius: 5px;
                                color: white;
                                text-decoration: none;
                                width: 40%;
                            }
                        }
                    }


                }
                
            }
        }
        .loginBoxRight{
            width: 50%;
            height: 100%;

            @media (max-width: 768px) {
                width: 100% !important;
                }
                
            .loginBoxRightImage{
              height: 100%;
              width: 100%;  
              object-fit: cover;
            }
        }
        .leftBottomContainer{
            position: fixed;
            padding: 10px;
            bottom: 0;
            width: 49%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #F96503;
            .termsCondition{
            color: #F96503;
            text-decoration: none;
                
            }
        }
    }
}


.loginWithOther{
    text-align: center;
    margin: 20px 0px;

    &::before, 
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #000;
      margin: 0 10px;
    } 

}
.loginWith{
    padding: 12px;
    text-align: center;
    
    border-radius: 5px;
    border: 1px solid #E8E8EA;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    @media (max-width: 768px) {
        padding: 1px;
    }
    
}
.signUp{
    text-align: center;
    margin-top: 20px;
    a{
        color: #1E4AE9;
    }
}

